@import 'tailwindcss';
@plugin "daisyui" {
  themes: forest, cupcake, corporate, business, emerald, nord, winter, dim, night;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-in-out;
}
